language: python

python:
    - "3.5"
    - "3.6"

before_install:
    - wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
    - chmod +x miniconda.sh
    - ./miniconda.sh -b
    - export PATH=/home/travis/miniconda3/bin:$PATH
    - conda config --add channels conda-forge

install:
    - conda install --yes python=$TRAVIS_PYTHON_VERSION pip numba pytest matplotlib lmfit nbconvert ipykernel
    - python setup.py build
    - pip install .
    - rm -rf build/

script:
    - py.test -v

sudo: false
